<script>
import Typewriter from 'typewriter-effect/dist/core';
var heroText = document.getElementById('hero-text');

 new Typewriter(heroText, {
  strings: ['Ich kann ins Deutsche übersetzen', 'Je peux traduire en français'],
  autoStart: true,
  loop: true,
  delay: 75,
  deleteSpeed: 50,
  pauseFor: 2000,

});


</script>

<div>
	<h2 id="hero-text"></h2>
</div>
